body {
    background-color: black;
    margin: 0%;
    padding: 0%;
}

div {
    width: 100%;
    /* background-image: url(../img/img4.png); */
    background-image: url(../img/img7.jpg);
    background-repeat: no-repeat;
    text-align: center;
    line-height: 30px;
    color: #eee;
    font: 50px fantasy;
}

div img {
    margin-left: 70%;
    width: 30%;
}

.ceme {
    margin: -300px 0px 60px ;
}